@model CRUDAPP.Models.Product;

<form class="mt-3" method="post" asp-controller="productDashboard" asp-action="add">
    <h1>Add a product</h1>
    <div class="container">
        <div class="form-group">
            <label>Name</label>
            <input asp-for="Name" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input asp-for="Price" type="number" class="form-control" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input asp-for="Description" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Quantity</label>
            <input asp-for="Quantity" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Image Path</label>
            <input asp-for="ImagePath" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Category</label>
            <select asp-for="Category" class="form-select" id="exampleDisabledSelect1">
                @foreach (string name in Model.getCategoryNames())
                {
                    <option>@name</option>
                }
            </select>
        </div>
        <input type="submit" class="btn btn-primary mt-3" value="Add" />
    </div>
</form>